<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edit user information</title>
</head>
<body>
<form action="#"
      th:action="@{/users/{id}/update(id=${user.getId()})}" th:object="${user}" th:method="PATCH">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <span style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br><br>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age">
    <span style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <br><br>
    <label for="job">Job</label>
    <input type="text" th:field="*{job}" id="job">
    <span th:if="${#fields.hasErrors('job')}" th:errors="*{job}"></span>
    <br><br>
    <label for="city">City</label>
    <input type="text" th:field="*{city}" id="city">
    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>

    <input type="submit" value="Update User">
</form>
</body>
</html>